/*
Color palette: 
#E3C0D3 pink
#5F4B66 violet
#86BBD8 azure
#7EA172 green
#BFCC94 light green
*/
body {
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "navbar navbar navbar navbar navbar"
    "content content content content sidebar"
    "footer footer footer footer footer";
    margin: 0px;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    grid-area: header;
    background-color: #5F4B66;
    margin: 0px;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

h1 {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    align-self: center;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    background-color: #5F4B66;
    justify-content: space-between;
}

#footerbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 40px;
    justify-content: flex-end;
    align-content: flex-end;
    align-self:flex-end;
}

.footeritem{
    padding: 10px;
    text-decoration: none;
    color: white;
}

#navbar {
    grid-area: navbar;
    background-color: #E3C0D3;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navitem {
    display: flex;
    margin: 0px;
    padding: 20px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #5F4B66;
}

.navitem:hover {
    background-color: #86BBD8;
}

#content {
    display: grid;
    grid-area: content;
    padding: 0px;
    margin: 0px;
}

.contentitem {
    display: grid;
    margin: 0px;
    padding: 0px;
}

#video {
    width: 100%;
    aspect-ratio: 1.78;
}

#sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: #BFCC94;
    align-items: center; 
}

#login {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
    padding: 20px;
}

.textFields{
    display: flex;
    flex-direction: column;
}

#mapOfAberdeen {
    border: 1px solid black;
    width: 100%;
    aspect-ratio: 1;
    padding: 1px;
}

#mapContainer {
    margin: 20px;
}

h2 {
    color: #5F4B66;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

#news {
    background-color: #86BBD8;
    padding:30px;
}

.article {
    width:80%;
    margin: 20px;
}

.articleImg {
    width: 80%;
}